@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&family=Playfair+Display:ital,wght@0,600;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$color-primary: #0F0606;
$color-contrast: #490000;
$color-secondary: #F7F7F8;
$color4: #FFFFFF;
$btn-primary: #650000;
$btn-secondary: #EBEBEB;

$textcolor: #2C2C2C;
$textcolor-secondary: #797166;
$subtitlecolor: #B6AA99;
$textfont:"Poppins", sans-serif;
$subtitlefont: "Playfair Display", serif;
$titlefont: "Birthstone Bounce", cursive;

@mixin button-primary {
    display: inline-block;
    @include font($textfont, $color-secondary,14px);
    text-decoration: none;
    background-color: $color-primary;
    padding: 10px 25px;
    border-radius: 30px;
    transition: background-color 0.3s;
}

@mixin button-secondary {
    display: inline-block;
    @include font($textfont, $textcolor,14px);
    text-decoration: none;
    background-color: $btn-secondary;
    padding: 10px 25px;
    border-radius: 30px;
    transition: background-color 0.3s;
}

@mixin background-img-conf ($img, $height){
    background-image: $img;
    background-size: cover;
    background-position: center;
    height: $height;
}
@mixin background-img-conf-hearder ($img){
    background-image: $img;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin font($font,$color,$size){
    font-family: $font;
    color: $color;
    font-size: $size;
}