@import "base";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    @include background-img-conf-hearder(url(../assets/fondo.png));
}
.header-menu{
    @include background-img-conf-hearder(url(../assets/fondo5.png));
}
.navbar{
    background: transparent !important;
}

.navbar-brand {
    font-family: $titlefont;
    color: $color-secondary;
    &:hover{
        color: $subtitlecolor;
    }
}

.nav-link{
    font-family: $textfont;
    color: $color-secondary;
    &:hover{
        color: $subtitlecolor;
    }
}

.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
}

.card-title {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
    color: #6c757d;
}

.header-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        @include font($titlefont,$subtitlecolor,7rem);
        font-weight: 500;
        margin-bottom: 17px;
    }
    h2{
        @include font($textfont,$color-secondary,1.3rem);
        font-weight: 400;
    }
}
.content-bar{
    @include background-img-conf(url(../assets/fondo12.png),100vh);
    text-align: left;
    .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width:70%;
    }
    h1{
        @include font($titlefont,$color-primary,5rem);
        font-weight: 500;
        margin-bottom: 20px;
        padding: 10rem 0 0 0;
    }
    h2{
        @include font($textfont,$subtitlecolor,1.3rem);
        font-weight: 400;
        text-align: left;
        margin-bottom: 20px;
    }
    
}
.content-sau {
    @include background-img-conf(url(../assets/fondo6.png),110vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        @include font($titlefont,$subtitlecolor,6rem);
        font-weight: 500;
        margin-bottom: 3px;
        padding: 3rem 0 0 0;
    }
    h2{
        @include font($textfont,$color-secondary,1.3rem);
        font-weight: 400;
        margin-bottom: 17px;
    }
}
.btn-custom-primary{
    @include button-primary;
}
.btn-custom-secondary{
    @include button-secondary;
}

@media (max-width: 1045px) {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
    }
    .offcanvas {
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 52%, rgba(52,52,52,1) 100%);
    }
    .offcanvas-header, .offcanvas-body {
        color: $color-secondary;
    }
    .offcanvas-header .btn-close {
        filter: invert(100%);
    }
    .offcanvas-title {
        @include font ($titlefont, $color-secondary, 1.5rem);
    }
    .content-bar .container {
        align-items: center;
    }
    .content-header .title, .content-sau .title {
        font-size: 28px;
    }
}